<html>
<head>
    <style>
        * {
            font-family: "Roboto", "Arial", "Helvetica";
            font-size: 14px;
            font-weight: 300;
            line-height: 1.5;
        }

        b, strong {
            font-weight: 700 !important;
        }

        .pogrubienie {
            font-weight: bold !important;
        }

        .specprawnik_email * {
            font-family: "Roboto", "Arial", "Helvetica";
            font-size: 14px;
            font-weight: 300;
        }
    </style>
</head>
<body marginwidth=3D"0px" marginheight=3D"0" margin=3D"0" topmargin=3D"0" l=
eftmargin=3D"0" rightmargin=3D"0" style=3D"padding:0;margin:0;" class=3D"sp=
ecprawnik_email">
    <table width=3D"100%;border-collapse: collapse" style=3D"width:100%" cel=
lspacing=3D"0" cellpadding=3D"0">
        <colgroup>
            <col>
            <col width=3D"600px">
            <col>
        </colgroup>
        <thead>
            <tr>
                <td height=3D"45px" style=3D"line-height: 0;height:45px;bac=
kground-color: #155BA3;">&nbsp;</td>
                <td width=3D"600px" height=3D"45px" style=3D"line-height: 0=
;height:45px;width:600px; background-color: #155BA3">
                    <a style=3D"color: white;text-decoration:none" href=3D"=
https://www.specprawnik.pl">< img height=3D"43px" width=3D"153px" border=3D"=
0" style=3D"height: 43px; border:0; width: 153px;margin-left:223px" src=3D"=
https://www.specprawnik.pl/ media/img/mail/logo_t=C5=82o- niebieskie.jpg" alt=
=3D"Specprawnik.pl"/></a>
                </td>
                <td height=3D"45px" style=3D"line-height: 0;height:45px;bac=
kground-color: #155BA3">&nbsp;</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td width=3D"600px" style=3D"width:600px">
                    <table width=3D"600px" style=3D"width:600px;table- layou=
t:fixed" cellspacing=3D"0" cellpadding=3D"0">
                        <tr>
                            <td width=3D"100%">
                                <br/><br/>
                                Serdeczne gratulacje!
                            </td>
                        </tr>
                        <tr>
                            <td width=3D"100%" style=3D"width:100%">
				<p>{message}</p>
                            </td>
                        </tr>
                    </table>
                </td>
                <td></td>
            </tr>
           =20
            <tr>
                <td></td>
                <td width=3D"600px" style=3D"width:600px">
                    <table width=3D"600px" style=3D"width:600px" cellspacin=
g=3D"0" cellpadding=3D"0">
                       =20
                        <tr>
                            <td width=3D"100%" style=3D"width:100%;border-t=
op:1px solid #999">
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td width=3D"100%" style=3D"width:100%;color: #=
c6c6c6;font-size:12px;">
                                <b style=3D"color: #b1b1b1">&copy; 2018 spe=
cprawnik.pl</b>
                            </td>
                        </tr>
                       =20
                    </table>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
</body>
</html>