<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="WEJSCIEDirectory" value="C:\Users\mansha\Documents\EmailSender\WEJSCIE"/>
    <add key="BUFORDirectory" value="C:\Users\mansha\Documents\EmailSender\BUFOR"/>
    <add key="IntervalInMilliSeconds" value="60000"/>
    <add key="Host" value="smtp.gmail.com"/>
    <add key="EnableSsl" value="true"/>
    <add key="UserName" value="put.hassanmansoor@gmail.com"/>
    <add key="Password" value="Hobnob101"/>
    <add key="Port" value="587"/>
  </appSettings>
</configuration>